:root {
  --primary-color: #049ebd;
  --secondary-color: #f5f2fe;
  --tertiary-color: aqua;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  background-image: url("media/galaxy-background.jpg");
}

@media (max-width: 576px) {
  img,
  p {
    text-align: center;
  }
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
  color: white;
}

h2 {
  font-size: 48px;
  color: white;
}

h3 {
  font-size: 24px;
  color: aqua;
}

p {
  color: white;
}

.blurb {
  padding: 20px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  box-shadow: 0 1px 10px lightslategrey;
  margin: 30px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--tertiary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--secondary-color);
  border: 1px solid var(--tertiary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.button {
  padding: 15px;
  text-align: center;
  border-radius: 7px 7px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  border: 1px solid lightslategray;
  margin-left: 150px;
}

.visible {
  color: white;
}

div.intro {
  padding-top: 150px;
  padding-bottom: 100px;
  background-color: rgba(177, 242, 255, 0.616);
  margin-bottom: 50px;
  box-shadow: 0 0 10px 0 rgba(177, 242, 255);
}

a:hover.button {
  color: white;
}

.spacer {
  margin-bottom: 50px;
}
