:root {
  --primary-color: #049ebd;
  --secondary-color: #f5f2fe;
  --tertiary-color: aqua;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --glow-box-shadow: 0 1px 10px lightslategrey;
}

body {
  background-image: url("media/galaxy-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: auto;
}

h1 {
  color: white;
  text-align: center;
  font-size: 80px;
}

h2 {
  color: white;
  text-align: center;
  font-size: 40px;
}

h3 {
  font-size: 30px;
  color: aqua;
  text-align: center;
}

h4 {
  font-size: 24px;
  color: darkorchid;
  text-align: center;
}

p {
  color: white;
  text-align: center;
}

img {
  margin: auto;
  display: block;
  text-align: center;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly !important;
}

.contact h2 {
  color: var(--primary-color);
}

.blurb {
  padding: 20px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  box-shadow: var(--glow-box-shadow);
  margin: 30px;
}

.blurb-desc {
  padding: 5px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  box-shadow: var(--glow-box-shadow);
  margin: 20px 0;
  display: block;
}

.blurb-desc h3,
h4,
p {
  padding: 0;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--tertiary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--secondary-color);
  border: 1px solid var(--tertiary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.button {
  padding: 15px;
  text-align: center;
  border-radius: 7px 7px;
  box-shadow: var(--glow-box-shadow);
  border: 1px solid lightslategray;
  margin-left: 130px;
}

.codepen {
  background: transparent;
}

div.intro {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: rgba(177, 242, 255, 0.405);
  margin-bottom: 50px;
  box-shadow: 0 0 10px 0 rgba(177, 242, 255);
}

div.intro-other {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgba(178, 150, 255, 0.405);
  margin-bottom: 50px;
  box-shadow: 0 0 10px 0 rgb(178, 150, 255);
}

footer {
  margin: 50px 250px;
}

.contact-box {
  background-color: rgba(178, 150, 255, 0.405);
  padding: 30px 120px;
  border-radius: 10px;
  box-shadow: var(--glow-box-shadow);
}

footer .button {
  margin-left: 100px;
  margin-top: 10px;
}

a:hover.button {
  color: white;
}

.spacer {
  margin-bottom: 50px;
}

.top-spacer {
  margin-top: 101px;
}

.down-spacer {
  margin-bottom: 157px;
}

.left-spacer {
  margin-left: 245px;
}

.slight-space {
  margin-bottom: 30px;
}

.sections p {
  font-size: 20px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 32px;
    line-height: 2;
    text-align: center;
  }

  h2 {
    font-size: 27px;
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  img,
  a {
    display: flex;
    justify-content: center;
  }

  .blurb {
    padding: 10px;
  }

  .contact-box {
    max-width: auto;
  }

  a.button {
    margin-left: 0;
  }

  .down-spacer {
    margin-bottom: 100px;
  }
}

@media (max-width: 350px) {
  h1 {
    font-size: 32px;
    line-height: 2;
    text-align: center;
  }

  h2 {
    font-size: 27px;
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  .blurb {
    padding: 10px;
  }

  a.button {
    margin-left: 0;
  }

  .down-spacer {
    margin-bottom: 100px;
  }
}
